.home-container {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Cor de fundo suave */
    color: #333;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  .home-buttons {
    margin-bottom: 20px;
  }
  
  .home-buttons button {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .home-buttons button:hover {
    background-color: #45a049;
  }
  
  .skill-list {
    list-style: none;
    padding: 0;
  }
  
  .skill-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .skill-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .skill-list input {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .skill-list button {
    background-color: #e57373; /* Lilás */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .skill-list button:hover {
    background-color: #f44336;
  }
  
  .ReactModal__Overlay {
    z-index: 1000; /* Garante que o modal esteja acima de outros elementos */
  }
  
  .ReactModal__Content {
    position: relative;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: auto;
    background: white;
    border-radius: 4px;
    padding: 20px;
    border: none;
    boxShadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .ReactModal__Content h2 {
    margin-top: 0;
  }
  
  .ReactModal__Content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .ReactModal__Content input,
  .ReactModal__Content select,
  .ReactModal__Content textarea {
    width: calc(100% - 22px);
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .ReactModal__Content button {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .ReactModal__Content button:hover {
    background-color: #45a049;
  }
  
  .ReactModal__Content .cancel-button {
    background-color: #e57373; /* Lilás */
  }
  
  .ReactModal__Content .cancel-button:hover {
    background-color: #f44336;
  }
  